# Terraform
**/.terraform/**
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log

# Runtime and certificate-generation artefacts
*.pid
*.srl
*.pem
*.key
*.crt
*.csr
*.jks
*.p12
*.pfx

# Python local caches
.venv/
__pycache__/
*.py[cod]
uni_stuff/


# Extra stuff - I can't be bother labelling
.orchestration/
.DS_Store