security.protocol=SSL
ssl.truststore.location=/etc/kafka/client/tls/kafka.client.truststore.p12
ssl.truststore.password=__TLS_STORE_PASSWORD__
ssl.truststore.type=PKCS12
ssl.keystore.location=/etc/kafka/client/tls/kafka.client.keystore.p12
ssl.keystore.password=__TLS_STORE_PASSWORD__
ssl.key.password=__TLS_STORE_PASSWORD__
ssl.keystore.type=PKCS12
ssl.enabled.protocols=TLSv1.3,TLSv1.2
ssl.endpoint.identification.algorithm=https
