security.protocol=SSL
ssl.truststore.location=/etc/kafka/client/tls/kafka.client.truststore.p12
ssl.truststore.password=__TLS_STORE_PASSWORD__
ssl.truststore.type=PKCS12
ssl.enabled.protocols=TLSv1.3,TLSv1.2
ssl.endpoint.identification.algorithm=https
